body{
	font-family: 'Roboto', 'Open Sans','Sanchez', serif;
}

.nav > li > a {
  color:black;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #FFF;
  text-decoration: none;
} 

.header-section{
	margin-top: 100px;
	margin-bottom: 50px;
}

.header-image{
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 350px;
	overflow: hidden;	
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 0 50% 50% 50%/15% 0 15% 0;
}

.header-image img{
	max-width: 100%;
	height: auto;
	display: block;
	zoom: 150%;
}

.trans{
	text-transform: uppercase;
}
.claret-logo{
	display: block;
	width: 20%;
	margin: 0 auto;
}

.logo{
	width: 20%;
}

.form-container{
	width: 50%;
	text-align: center;
	margin-top: 250px;
}

.text {
	text-align: center;
}

.wine-stain{
	width: 350px; 
	height : auto; 
	float: right;
	display: block;
}

.button-style {
    background: #ae096d;
    color: white;
    width: 30%; 
    border: none;
    outline:none;
    min-width: 100px;
}

.dropdown-button, .dropdown-menu {
	width: 100%;
	min-width: 100px;
}

.center-col{
    float: none;
    margin: 0 auto;
}

.image-container{	
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 25%;
	height: 200px;
	float: left;
}

.image-container img{
	position: relative;	
	flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
	height: auto;
	display: block;
}

.color {
	color: #ae096d;
}

@media only screen and (max-width: 480px){
	.image-container{
		float: left;
		width: 100%;
		height: 150px;
		overflow: hidden;
	}

	.image-container img{
		position: relative;	
		max-width: 100%;		
		height: auto;
		display: block;
	}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
	.image-container{
		float: left;
		width: 50%;
		height: 150px;
		overflow: hidden;
	}

	.image-container img{
		position: relative;	
		max-width: 100%;
		height: auto;
		display: block;
	}
}